.alert-bar{
    padding: 0 30px;
    display: flex;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        width: 50%;
        left: 65px;
        top: 0;
        bottom: 0;
        height: 100%;
        background: linear-gradient(-90deg, #FFCF07 -120.02%, rgba(255, 207, 7, 0) 48.57%);
        z-index: -1;
        @media(max-width:1250px){
            width: 47%;
        }
        @media(max-width:991px){
            width: 100%;
        }
    }
    #alert-bar_cmp{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        @media(max-width:991px){
            padding: 50px 0;
        }
        .aem-Grid{
            .alert-bar-flex{
                #alert-bar-flex_cmp{
                    display: flex;
                    flex-wrap: wrap;
                    @media(max-width:991px){
                        max-width: 477px;
                        margin: 0 auto;
                    }
                    .left-col{
                        width: 45%;
                        @media(max-width:1250px){
                            width: 40%;
                        }
                        @media(max-width:991px){
                            width: 100%;
                            margin-bottom: 30px;
                        }
                        #left-col_cmp{
                            display: flex;
                            height: 100%;
                            align-items: center;
                            @media(max-width:991px){
                                flex-direction: column;
                                align-items: center;
                            }
                            .image{
                                margin-right: 45px;
                                @media(max-width:1250px){
                                    margin-right: 15px;
                                }
                                @media(max-width:991px){
                                    margin-right: 0;
                                }
                            }
                            .text{
                                .cmp-text{
                                    p{
                                        font-weight: 600;
                                        font-size: 18px;
                                        line-height: 28px;
                                        color: #414042;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                    .right-col{
                        width: 55%;
                        @media(max-width:1250px){
                            width: 60%;
                        }
                        @media(max-width:991px){
                            width: 100%;
                        }
                        #right-col_cmp{
                            display: flex;
                            height: 100%;
                            align-items: center;
                            @media(max-width:991px){
                                flex-direction: column;
                                align-items: center;
                            }
                            .image{
                                height: 100%;
                                @media(max-width:991px){
                                    width: 65%;
                                    margin: 0 auto;
                                }
                                .cmp-image{
                                    height: 100%;
                                    img{
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                            }
                            @include bgbutton;
                            .button{
                                margin-left: 20px;
                                @media(max-width:991px){
                                    margin-top: 40px;
                                    margin-left: 0;
                                }
                                a{
                                    span{
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}