.alert-bar{
    padding: 0 30px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @include md-screen{
            flex-direction: column;
            align-items: center;
            padding: 50px 0
        }
        &::before{
            content: "";
            position: absolute;
            width: 50%;
            left: 65px;
            top: 0;
            bottom: 0;
            height: 100%;
            background: linear-gradient(-90deg, $yellow -120.02%, rgba(255, 207, 7, 0) 48.57%);
            @include md-screen{
                left: unset;
                right: -30px;
            }
        }
        .alert-logo-wrap{
            z-index: 20;
            @include md-screen{
                width: 100%;
                margin-bottom: 30px;
            }
            .cmp-image{
                display: flex;
                align-items: center;
                grid-column-gap: 30px;
                @include md-screen{
                    width: 100%;
                    flex-direction: column;
                }
                img{
                    @include lg-screen{
                        width: 150px;
                    }
                    @include md-screen{
                        width: 180px;
                    }
                }
                .alert-text{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: $gray;
                    @include md-screen{
                        margin-top: 20px;
                        text-align: center;
                    }
                }
            }
        }
        .alert-btn-wrap{
            display: flex;
            align-items: center;
            grid-column-gap: 30px;
            z-index: 20;
            @include lg-screen{
                flex-wrap: wrap;
                grid-column-gap: 10px;
                justify-content: space-between;
            }
            @include md-screen{
                width: 100%;
                flex-direction: column;
            }
            .cmp-image{
                @include lg-screen{
                    width: 65%;
                }
                @include sm-screen{
                    width: 100%;
                }
                img{
                    width: 100%;
                    display: block;
                }
            }
            @include bgbutton;
            .button{
                @include lg-screen{
                    width: 30%;
                }
                @include sm-screen{
                    width: 100%;
                }
                @include md-screen{
                    justify-content: center;
                    margin-top: 40px;
                }
                transition: all 0.3 ease;
                &:hover{
                    a{
                        &::before{
                            background: transparent;
                            border-color: $yellow;
                        }
                        &::after{
                            background: transparent;
                            border-color: $yellow;
                        }
                    }
                }
                a{
                    span{
                        @include lg-screen{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}