.contact{
    background: linear-gradient(to left, #303031 50%, #ffffff 50%);
    padding: 0 30px;
    .container{
        display: flex;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        .content-wrap{
            flex: 0 0 50%;
            align-items: center;
            padding: 70px 50px 70px 0px;
            .top-content{
                display: flex;
                .text-wrap{
                    width: 50%;
                    .heading-wrap{
                        .title{
                            font-size: 50px;
                            line-height: 66px;
                            color: $gray;
                        }
                        .paragraph{
                            font-size: 16px;
                            line-height: 24px;
                            max-width: 360px;
                            margin-top: 10px;
                        }
                    }
                    .address-wrap{
                        color: $gray;
                        .sub-title{
                            font-size: 25px;
                            line-height: 24px;
                            padding: 30px 0 20px;
                        }
                        p{
                            margin: 0px;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            width: fit-content;
                            &.number{
                                padding-top: 20px;
                                padding-right: 10px;
                                border-bottom: 1px solid $yellow;
                            }
                            &.email-text{
                                padding-top: 20px;
                                padding-right: 10px;
                                border-bottom: 1px solid $yellow;
                            }
                        }
                    }
                }
            }
            .button-align{
                display: flex;
                align-items: flex-end;
                .button-wrap{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    grid-gap: 30px;
                    @include bgbutton;
                    .button{
                        .btn-text{
                            @include xs-screen{
                                font-size: 12px;
                            }
                        }
                        &:hover{
                            a{
                                &::before{
                                    background: transparent;
                                    border-color: $yellow;
                                }
                                &::after{
                                    background: transparent;
                                    border-color: $yellow;
                                }
                            }
                        }
                    }
                }
            }
            .socials{
                border-top: 1px solid #EBECEC;
                padding-top: 40px;
                margin-top: 40px;
                .title-socials{
                    font-family: 'Source Sans Pro';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                }
                .icons{
                    padding-top: 30px;
                    a{
                        margin-right: 0px;
                        margin-top: 10px;
                        margin-right: 15px;
                        svg{
                            transform: scale(1.3);
                            &:hover{
                                fill: $yellow;
                            }
                        }
                    }
                    
                }
            } 
        }
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 70px 50px;
            padding-right: 20px;
            .formtext{
                font-size: 16px;
                line-height: 24px;
                color: #9C9FA1;
                margin-bottom: 30px;
                width: 100%;
                text-align: left;
            }
            .form-container{
                .container{
                    display: flex;
                    form{
                        @media(max-width:768px){
                            padding: 20px;
                        }
                        display: flex;
                        grid-gap: 20px;
                        width: 100%;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        input{
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid #9C9FA1;
                            background: transparent;
                            padding: 10px 10px 10px 0px;
                            font-family: $source;
                            color: white;
                            &.mail{
                                flex: 0 0 46%;
                            }
                            &.phone{
                                flex: 0 0 46%;
                            }
                            &::placeholder {
                                font-family: $source;
                                font-weight: 600;
                                font-size: 16;
                                color: white;
                            }
                        }
                        textarea{
                            width: 100%;
                            background: transparent;
                            padding: 10px 10px 10px 10px;
                            border: 1px solid #9C9FA1;
                            border-radius: 5px;
                            resize: none;
                            height: 150px !important;
                            &::placeholder {
                                font-family: $source;
                                font-weight: 600;
                                font-size: 16;
                                color: white;
                            }
                        }
                        select{
                            width: 100%;
                            border-bottom: 1px solid #9C9FA1;
                            background: transparent;
                            padding: 10px 10px 10px 0px;
                            border: none;
                            border-bottom: 1px solid #9C9FA1;
                            color: white;
                            option{
                                font-family: $source;
                                font-weight: 600;
                                font-size: 16;
                                color: white;
                                background-color: $gray;
                            }
                            .white{
                                color: white;
                            }
                        }
                        span{
                            display: flex;
                            justify-content: center;
                            width: fit-content;
                            margin: 0 auto;
                            .submit{
                                border: 1px solid #FFCF07;
                                border-radius: 35px;
                                text-align: center;
                                margin: 10px;
                                padding: 10px 30px;
                                background-color: transparent;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}