.what-to-expect-slider{
    background-color: $gray;
    #expect-container{
        max-width: 1200px;
        padding: 115px 0;
        width: 100%;
        margin: 0 auto;
        color: white;
        @media (max-width:1300px){
            padding: 115px 30px;
        }
        .heading{
            margin-bottom: 45px;
        }
        .slider-container{
            #expect-slider{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .slides{
                    width: calc(25% - 22px);
                    background-color: #626163;
                    padding: 24px 33px;
                    border-radius: 10px;
                    @media (max-width:991px){
                        width: calc(50% - 15px);
                        margin-bottom: 30px;
                    }
                    @media (max-width:767px){
                        margin-right: 33px;
                        min-height: 270px;
                    }
    
                    .s-no{
                        margin-bottom: 0px;
                        h6{
                            color: $yellow;
                            margin-bottom: 20px;
                        }
                    }
                    .title{
                        h3{
                            font-size: 32px;
                            margin-bottom: 15px;
                        }
                    }
                    .info{
                        p{
                            font-size: 18px;
                            font-weight: 500;
                            letter-spacing: 0.5px;
                            line-height: 28px;
                            color: rgba(255, 255, 255, 0.5);
                        }
                        margin-top: auto;
                    }
    
                }
            }
        }
    }
}



.signup-popup{
    display: none;
    background-color: $gray;
    color: white;
    position: relative;
    z-index: 999;
    h1, h2, h3, h4, h5, h6, p{
        text-align: center;
    }
    a{
        display: inline-block;
    }
    .popup-btn{
       font-weight: 700;
       font-size: 11px;
       letter-spacing: 1px;
       text-transform: uppercase;
       color: white;
       padding: 10px 24px;
       background-color: transparent;
       border: 1px solid $yellow;
       border-radius: 40px; 
       cursor: pointer;
    }
    .popup-header{
        border-top: 1px solid white;
        .inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 22px 30px;
            .steps{
                color: rgba(255, 255, 255, 0.4);
                font-family: $source;
                font-weight: 600;
                font-size: 16px;
            }
        }
        .progress-bar{
            height: 4px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            .progress{
                height: 100%;
                width: 0%;
                background-color: $yellow;
            }
        }
    }
    .slides{
        width: 500%;
        position: relative;
        background-color: $gray;
        display: flex;
        flex-wrap: wrap;
    }
    .popup-slide{
        height: 100vh;
        background-color: $gray;
        width: 100vw;
        .inner{
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex-direction: column;
            @media (max-width:1300px){
                padding: 0 30px;
            }

            .content{
                width: 95%;
                display: flex;
                flex-direction: column;
                align-items: center ;
                margin-bottom: 160px;
            }
        }
    }
}

#slide1{
    display: block;
    .content{
        max-width: 650px;
        .heading{
            font-size: 58px;
            margin-bottom: 25px;
            line-height: 66px;
            @media(max-width: 567px){
                font-size: 48px;
                line-height: 56px;
            }
        }
        .info{
            font-weight: 400;
            line-height: 30px;
            font-size: 22px;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 35px;
        }
    }
}

#slide2{
    .content{
        max-width: 340px;
        .heading{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 22px;
        }
        .input-container{
            width: 100%;
            margin-bottom: 53px;
            .inp{
                input{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding-bottom: 8px;
                    padding-top: 33px;
                    &::placeholder{
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
    }
}

#slide3{
    .content{
        max-width: 340px;
        .heading{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 22px;
        }
        .input-container{
            width: 100%;
            margin-bottom: 53px;
            .inp{
                input{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding-bottom: 8px;
                    padding-top: 33px;
                    &::placeholder{
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                    }
                }
            }
            .inp-2{
                display: flex;
                justify-content: space-between;
                select{
                    width: 40%;
                    height: 22px;
                    align-self: flex-end;
                    background-color: $gray;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    color: white;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 100px;
                    letter-spacing: 0.5px;
                }
                input{
                    width: 55%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding-bottom: 8px;
                    padding-top: 33px;
                    &::placeholder{
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                    }
                }
            }
            select{
                width: 100%;
                margin-top: 33px;
                height: 22px;
                align-self: flex-end;
                background-color: $gray;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                color: white;
                font-size: 16px;
                font-weight: 600;
                line-height: 100px;
                letter-spacing: 0.5px;
            }
        }
        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;
        } 
    }
}

#slide4{
    .content{
        align-items: flex-start;
        max-width: 340px;
        .heading{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 22px;
        }
        .info{
            font-weight: 600;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.8);
            text-align: left;
            margin-bottom: 18px;
        }
        .inp-y-n{
            margin-bottom: 15px;
            input{
                margin-right: 12px;
                scale: 1.5;
                color: $gray;
            }
            label{
                margin-right: 12px;
                font-weight: 300;
                color: rgba(255, 255, 255, 0.8)
            }
        }
        .alr-signed{
            margin-bottom: 70px;
            input{
                margin-right: 12px;
                scale: 1.5;
                color: $gray;
            }
            label{
                margin-right: 12px;
                font-weight: 300;
                color: rgba(255, 255, 255, 0.8)
            }
        }
        .how-learn{
            margin-bottom: 40px;
            label{
                font-weight: 600;
                font-size: 16px;
                color: rgba(255, 255, 255, 0.8);
                text-align: left;
                margin-bottom: 18px;
            }
            select{
                width: 100%;
                margin-top: 33px;
                height: 22px;
                align-self: flex-end;
                background-color: $gray;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                color: white;
                font-size: 16px;
                font-weight: 600;
                line-height: 100px;
                letter-spacing: 0.5px;
            }
        }
        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

#slide5{
    .content{
        max-width: 550px;
        svg{
            margin-bottom: 44px;
        }
        .heading{
            font-size: 58px;
            line-height: 66px;
            margin-bottom: 30px;
            @media(max-width: 567px){
                font-size: 48px;
                line-height: 56px;
            }
        }
        .info{
            font-size: 22px;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 30px;
        }
    }
}



.signup-popup{
    display: none;
    background-color: $gray;
    color: white;
    position: relative;
    z-index: 999;
    h1, h2, h3, h4, h5, h6, p{
        text-align: center;
    }
    a{
        display: inline-block;
    }
    .popup-btn{
       font-weight: 700;
       font-size: 11px;
       letter-spacing: 1px;
       text-transform: uppercase;
       color: white;
       padding: 10px 24px;
       background-color: transparent;
       border: 1px solid $yellow;
       border-radius: 40px; 
       cursor: pointer;
    }
    .popup-header{
        border-top: 1px solid white;
        .inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 22px 30px;
            .steps{
                color: rgba(255, 255, 255, 0.4);
                font-family: $source;
                font-weight: 600;
                font-size: 16px;
            }
        }
        .progress-bar{
            height: 4px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            .progress{
                height: 100%;
                width: 0%;
                background-color: $yellow;
            }
        }
    }
    .slides{
        width: 500%;
        position: relative;
        background-color: $gray;
        display: flex;
        flex-wrap: wrap;
    }
    .popup-slide{
        height: 100vh;
        background-color: $gray;
        width: 100vw;
        .inner{
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex-direction: column;
            @media (max-width:1300px){
                padding: 0 30px;
            }

            .content{
                width: 95%;
                display: flex;
                flex-direction: column;
                align-items: center ;
                margin-bottom: 160px;
            }
        }
    }
}

#slide1{
    display: block;
    .content{
        max-width: 650px;
        .heading{
            font-size: 58px;
            margin-bottom: 25px;
            line-height: 66px;
            @media(max-width: 567px){
                font-size: 48px;
                line-height: 56px;
            }
        }
        .info{
            font-weight: 400;
            line-height: 30px;
            font-size: 22px;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 35px;
        }
    }
}

#slide2{
    .content{
        max-width: 340px;
        .heading{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 22px;
        }
        .input-container{
            width: 100%;
            margin-bottom: 53px;
            .inp{
                input{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding-bottom: 8px;
                    padding-top: 33px;
                    &::placeholder{
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
    }
}

#slide3{
    .content{
        max-width: 340px;
        .heading{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 22px;
        }
        .input-container{
            width: 100%;
            margin-bottom: 53px;
            .inp{
                input{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding-bottom: 8px;
                    padding-top: 33px;
                    &::placeholder{
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                    }
                }
            }
            .inp-2{
                display: flex;
                justify-content: space-between;
                select{
                    width: 40%;
                    height: 22px;
                    align-self: flex-end;
                    background-color: $gray;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    color: white;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 100px;
                    letter-spacing: 0.5px;
                }
                input{
                    width: 55%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding-bottom: 8px;
                    padding-top: 33px;
                    &::placeholder{
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                    }
                }
            }
            select{
                width: 100%;
                margin-top: 33px;
                height: 22px;
                align-self: flex-end;
                background-color: $gray;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                color: white;
                font-size: 16px;
                font-weight: 600;
                line-height: 100px;
                letter-spacing: 0.5px;
            }
        }
        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;
        } 
    }
}

#slide4{
    .content{
        align-items: flex-start;
        max-width: 340px;
        .heading{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 22px;
        }
        .info{
            font-weight: 600;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.8);
            text-align: left;
            margin-bottom: 18px;
        }
        .inp-y-n{
            margin-bottom: 15px;
            input{
                margin-right: 12px;
                scale: 1.5;
                color: $gray;
            }
            label{
                margin-right: 12px;
                font-weight: 300;
                color: rgba(255, 255, 255, 0.8)
            }
        }
        .alr-signed{
            margin-bottom: 70px;
            input{
                margin-right: 12px;
                scale: 1.5;
                color: $gray;
            }
            label{
                margin-right: 12px;
                font-weight: 300;
                color: rgba(255, 255, 255, 0.8)
            }
        }
        .how-learn{
            margin-bottom: 40px;
            label{
                font-weight: 600;
                font-size: 16px;
                color: rgba(255, 255, 255, 0.8);
                text-align: left;
                margin-bottom: 18px;
            }
            select{
                width: 100%;
                margin-top: 33px;
                height: 22px;
                align-self: flex-end;
                background-color: $gray;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                color: white;
                font-size: 16px;
                font-weight: 600;
                line-height: 100px;
                letter-spacing: 0.5px;
            }
        }
        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

#slide5{
    .content{
        max-width: 550px;
        svg{
            margin-bottom: 44px;
        }
        .heading{
            font-size: 58px;
            line-height: 66px;
            margin-bottom: 30px;
            @media(max-width: 567px){
                font-size: 48px;
                line-height: 56px;
            }
        }
        .info{
            font-size: 22px;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 30px;
        }
    }
}