.what-to-expect-slider{
    background-color: $gray;
    #expect-container{
        max-width: 1200px;
        padding: 115px 0;
        width: 100%;
        margin: 0 auto;
        color: white;
        @media (max-width:1300px){
            padding: 115px 30px;
        }
        .heading{
            margin-bottom: 45px;
        }
        .slider-container{
            #expect-slider{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .slides{
                    width: calc(25% - 22px);
                    background-color: #626163;
                    padding: 24px 33px;
                    border-radius: 10px;
                    @media (max-width:991px){
                        width: calc(50% - 15px);
                        margin-bottom: 30px;
                    }
                    @media (max-width:767px){
                        margin-right: 33px;
                        min-height: 270px;
                    }
                    .cmp-teaser__content{
                        .s-no{
                            color: $yellow;
                            margin-bottom: 20px;
                        }
                        .cmp-teaser__title{
                            font-size: 32px;
                            margin-bottom: 15px;
                        }
                        .info{
                            font-size: 18px;
                            font-weight: 500;
                            letter-spacing: 0.5px;
                            line-height: 28px;
                            color: rgba(255, 255, 255, 0.5);
                            margin-top: auto;
                        }
                    }    
                }
            }
        }
    }
}



.signup-popup{
    display: none;
    background-color: $gray;
    color: white;
    position: fixed;
    inset: 0px;
    z-index: 999;
    @include sm-screen{
        inset: 67px 0 0 0;
    }
    h1, h2, h3, h4, h5, h6, p{
        text-align: center;
    }
    a{
        display: inline-block;
    }
    .input{
        color: white;
    }
    .popup-btn{
       font-weight: 700;
       font-size: 11px;
       letter-spacing: 1px;
       text-transform: uppercase;
       color: white;
       padding: 10px 24px;
       background-color: transparent;
       border: 1px solid $yellow;
       border-radius: 40px; 
       cursor: pointer;
    }
    .popup-header{
        border-top: 1px solid white;
        #header-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 22px 30px;
            .steps{
                color: rgba(255, 255, 255, 0.4);
                font-family: $source;
                font-weight: 600;
                font-size: 16px;
                margin: 0;
            }
            .cross{
                width: 18px;
                height: 18px;
                .cmp-image{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .progress-bar{
            height: 4px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            #progress-container{
                height: 100%;
            }
            .progress{
                height: 100%;
                width: 0%;
                background-color: $yellow;
            }
        }
    }
    .slides{
        #slides-container{
            &:first-child{
                width: 500%;
                position: relative;
                background-color: $gray;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    .popup-slide{
        height: calc(100vh - 145px);
        background-color: $gray;
        width: 100vw;
        @include sm-screen{
            height: calc(100vh - 136px);
        }
        .cmp-container{
            &:first-child{
                max-width: 1200px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                flex-direction: column;
                @media (max-width:1300px){
                    padding: 0 30px;
                }
                &:first-child{
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: center ;
                }
        }
        }
    }
}

#slide1{
    display: block;
    .cmp-container{
        &:first-child{
            max-width: 650px;
            margin: 0 auto;
            .heading{
                font-size: 58px;
                margin-bottom: 25px;
                line-height: 66px;
                @media(max-width: 567px){
                    font-size: 48px;
                    line-height: 56px;
                }
            }
            .info{
                font-weight: 400;
                line-height: 30px;
                font-size: 22px;
                color: rgba(255, 255, 255, 0.8);
                margin: 0;
                margin-bottom: 35px;
            }
        }
    }
}

#slide2{
    .cmp-container{
        &:first-child{
            max-width: 340px;
            .heading{
                font-weight: 600;
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 22px;
            }
            .input-container{
                width: 100%;
                margin-bottom: 53px;
                .inp{
                    input{
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                        padding-bottom: 8px;
                        padding-top: 33px;
                        &::placeholder{
                            color: white;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 0.5px;
                        }
                    }
                }
            }
        }
    }
}

#slide3{
    #slide3-container{
        &:first-child{
            max-width: 340px;
            align-items: flex-start;
        .heading{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 22px;
        }
        .info{
            text-align: left;
            margin: 0;
            margin-bottom: 20px;
        }
        .inp-y-n{
            margin-bottom: 20px;
        }
        .input-container{
            width: 100%;
            margin-bottom: 53px;
            .inp{
                input{
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding-bottom: 8px;
                    padding-top: 33px;
                    &::placeholder{
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                    }
                }
            }
            .inp-2{
                display: flex;
                justify-content: space-between;
                .cmp-form-options{
                    width: 100%;
                    border: 0px;
                    padding: 35px 0 0px;
                    margin: 0px;
                    select{
                        width: 100%;
                        height: 22px;
                        align-self: flex-end;
                        background-color: $gray;
                        border: none;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 100px;
                        letter-spacing: 0.5px;
                    }
                }
                input{
                    width: 55%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding-bottom: 8px;
                    padding-top: 33px;
                    &::placeholder{
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                    }
                }
            }
            .cmp-form-options{
                width: 100%;
                border: 0px;
                padding: 35px 0 0px;
                margin: 0px;
                select{
                    width: 100%;
                    height: 22px;
                    align-self: flex-end;
                    background-color: $gray;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    color: white;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 100px;
                    letter-spacing: 0.5px;
                }
            }
        }
        .buttons{
            width: 100%;
            #buttons-wrap_cmp{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                .popup-btn{
                    a{
                        span{
                            color: white;
                        }
                    }
                }
            }
        } 
        }
    }
}

#slide4{
    .cmp-container{
        align-items: flex-start;
        max-width: 340px;
        .heading{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 22px;
        }
        .info{
            font-weight: 600;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.8);
            text-align: left;
            margin-bottom: 18px;
        }
        .inp-y-n{
            margin-bottom: 15px;
            fieldset{
                border: 0px;
                padding: 0px;
                margin: 0px;
                display: flex;
                flex-wrap: wrap;
                .radio-item{
                    &.half{
                        width: 40%;
                    }
                    &.alr-signed{
                        width: 100%;
                        margin-top: 20px;
                    }
                }
                input{
                    margin-right: 12px;
                    scale: 1.5;
                    color: $gray;
                }
                span{
                    margin-right: 12px;
                    font-weight: 300;
                    color: rgba(255, 255, 255, 0.8)
                }
            }
        }
        .alr-signed{
            margin-bottom: 70px;
            input{
                margin-right: 12px;
                scale: 1.5;
                color: $gray;
            }
            label{
                margin-right: 12px;
                font-weight: 300;
                color: rgba(255, 255, 255, 0.8)
            }
        }
        .how-learn{
            margin-bottom: 40px;
            .cmp-form-options{
                padding:0px;
                margin:0px;
                border: 0px;
            }
            label{
                font-weight: 600;
                font-size: 16px;
                color: rgba(255, 255, 255, 0.8);
                text-align: left;
                margin-bottom: 18px;
            }
            select{
                width: 100%;
                margin-top: 33px;
                height: 22px;
                align-self: flex-end;
                background-color: $gray;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                color: white;
                font-size: 16px;
                font-weight: 600;
                line-height: 100px;
                letter-spacing: 0.5px;
                height: 45px;
            }
        }
        .buttons{
            width: 100%;
            #buttons-wrap_cmp{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                .popup-btn{
                    a{
                        span{
                            color: white;
                        }
                    }
                }
            }
        } 
    }
}

#slide5{
    .cmp-container{
        max-width: 550px;
        align-items: center;
        svg{
            margin-bottom: 44px;
        }
        .heading{
            font-size: 58px;
            line-height: 66px;
            margin-bottom: 30px;
            @media(max-width: 567px){
                font-size: 48px;
                line-height: 56px;
            }
        }
        .info{
            font-size: 22px;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 30px;
            text-align: center;
        }
        .button{
            a{
                color: white;
            }
        }
    }
}




.start-popup{

    #slide4{
        .cmp-container{
            max-width: 550px;
            align-items: center;
            svg{
                margin-bottom: 44px;
            }
            .heading{
                font-size: 58px;
                line-height: 66px;
                margin-bottom: 30px;
                @media(max-width: 567px){
                    font-size: 48px;
                    line-height: 56px;
                }
            }
            .info{
                font-size: 22px;
                color: rgba(255, 255, 255, 0.8);
                margin-bottom: 30px;
                text-align: center;
            }
            .button{
                a{
                    color: white;
                }
            }
        }
    }
}