.latest-post{
    background: #414042;
    border-left: 10px solid white;
    padding: 0 30px;
    @include sm-screen{
        border-left: 0px;
    }
    #latest-container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
        .sub-title{
            margin-bottom: 20px;
            h6{
                letter-spacing: 0.07em;
                text-transform: uppercase;
                color: $yellow;
                text-align: center;
            }
        }
        .title{
            margin-bottom: 30px;
            text-align: center;
            color: white;
            margin-bottom: 60px;
            @include sm-screen{
                margin-bottom: 30px;
            }
        }
        #post-wrap{
            display: flex;
            flex-wrap: wrap;
            grid-gap: 30px;
            justify-content: space-between;
            @include md-screen{
                grid-gap: 20px;
            }
            .slick-list{
                padding: 0px !important;
            }
            .slick-dots{
                li{
                    margin: 0px;
                    padding: 0px;
                    button{
                        &:before{
                            font-size: 12px;
                            color: #9C9FA1;
                        }
                    }
                }
            }
            .content-wrap{
                    width: calc(35% - 40px);
                    display: flex;
                    flex-direction: column;
                    transition: all 0.3s ease;
                .aem-Grid{
                    position: relative;
                    .image{
                        .cmp-image{
                            .cmp-image__image{
                                position: absolute;
                                width: 45px;
                                top: 25px;
                                left: 35px;
                                z-index: 1;
                            }
                        }
                    }
                    .teaser{
                        .cmp-teaser{
                            display: flex;
                            flex-direction: column;
                            background: #FFFFFF;
                            box-shadow: 0px 12px 12px rgb(0 0 0 / 24%);
                            transition: all 0.3s ease;
                            .cmp-teaser__image{
                                width: 100%;
                                // display: flex;
                                .cmp-image{
                                    img{
                                        width: 100%;
                                        display: block;
                                    }
                                }
                            }
                            .cmp-teaser__image{
                                position: relative;
                                .post-icon{
                                    position: absolute;
                                    width: 45px;
                                    top: 25px;
                                    left: 35px;
                                    @include md-screen{
                                        left: 20px;
                                        top: 15px;
                                    }
                                }
                                .post-img{
                                    width: 100%;
                                    display: block;
                                }
                            }
                            .cmp-teaser__content{
                                padding: 30px 35px;
                                border-radius: 0px;
                                height: 230px;
                                @include md-screen{
                                    height: 280px;
                                    padding: 30px 20px;
                                }
                                .post-icon{
                                    display: none;
                                }
                                .cmp-teaser__title, a {
                                    font-weight: 700;
                                    font-size: 23px;
                                    line-height: 30px;
                                    color: $gray;
                                    transition: all 0.3s ease;
                                    @include md-screen{
                                        font-size: 20px;
                                    }
                                }
                                .cmp-teaser__description p{
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 21px;
                                    color: #9C9FA1;
                                }
                            }
                        }
                    }
                }
                &:first-child{
                    flex-direction: row-reverse;
                    width: 100%;
                    flex-wrap: wrap;
                    @include md-screen{
                        justify-content: space-between;
                    }
                    .cmp-container{
                        width: 100%;
                        .teaser{
                            .cmp-teaser{
                                flex-direction: row-reverse;
                                .cmp-teaser__image{
                                    width: 68%;
                                    @include md-screen{
                                        width: 65%;
                                    }
                                    &:before{
                                        content: "";
                                        background: linear-gradient(180deg, $yellow 0%, rgba(217, 217, 217, 0) 51.04%);
                                        transform: rotate(-180deg);
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        z-index: 20;
                                        bottom: 0;

                                    }
                                }
                                .cmp-teaser__content{
                                    width: 32%;
                                    @include md-screen{
                                        width: 35%;
                                    }
                                    height: 450px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: end;
                                    position: relative;
                                    padding-right: 80px;
                                    @include lg-screen{
                                        padding-right: 35px;
                                    }
                                    @include md-screen{
                                        align-items: flex-start;
                                    }

                                    .cmp-teaser__title, a{
                                        font-size: 40px;
                                        line-height: 43px;
                                        @include md-screen{
                                            font-size: 32px;
                                            line-height: 40px;
                                        }
                                    }
                                    .cmp-teaser__description, p{
                                        font-size: 14px;
                                        line-height: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
           
        }
        .resource-btn{
            justify-content: center;
            margin-top: 55px;
        }
        .button{
            display: flex;
            margin-left: 7px;
            width: 100%;
            justify-content: center;
            %transition {
                transition: .12s;
            }
            a{
                // border: 1px solid $yellow;
                @extend %transition;
                padding: 8px 25px 10px 20px;
                text-decoration: none;
                display: inline-block;
                color: $yellow;
                position: relative;
                cursor: pointer;
                &:hover{
                    &::after{
                        border-color: white;
                    }
                    &::before{
                        border-color: white;
                    }
                }
                &:after {
                    @extend %transition;
                    content: '';
                    background: $yellow;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border: 1px solid $yellow;
                    border-width: 1px 1px 1px 0;
                    transform: skewX(-20deg);
                }
                &:before {
                    @extend %transition;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -7px;
                    bottom: 0;
                    width: 17px;
                    border: 1px solid $yellow;
                    border-width: 1px 0 1px 1px;
                    background: $yellow;
                    z-index: 8;
                }
                span{
                    color: $gray;
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: capitalize;
                    position: relative;
                    z-index: 20;
                }
            }
        }
    }
}
