.newsletter-bar{
    padding: 0 30px;
    background: linear-gradient(120deg, $yellow 47%, rgba(255, 207, 7, 0) 47%);
    @include lg-screen{
        background: linear-gradient(120deg, $yellow 43%, rgba(255, 207, 7, 0) 43%);
    }
    @include md-screen{
        background: linear-gradient(180deg, $yellow 53%, rgba(255, 207, 7, 0) 50%);
    }
    @include sm-screen{
        background: linear-gradient(180deg, $yellow 45%, rgba(255, 207, 7, 0) 45%);
    }
    @media (max-width: 475px){
        background: linear-gradient(180deg, $yellow 50%, rgba(255, 207, 7, 0) 45%);
    }
    #news-container,
    #news2-container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 45px 0;
        align-items: center;
        @include md-screen{
            justify-content: center;
            padding: 45px 0 70px;
        }
        .title{
            width: 40%;
            color: #383F43;
            @include md-screen{
                width: 100%;
                padding-bottom: 60px;
            }
            h3{
                @include lg-screen{
                    font-size: 32px;
                    line-height: 40px;
                }
                @include md-screen{
                    font-size: 40px;
                    line-height: 47px;
                }
                @include sm-screen{
                    font-size: 32px;
                    line-height: 40px;
                }
            }
        }
        .button_block{
            width: 60%;
            @include md-screen{
                width: 100%;
            }
            .button_wrap{
                // width: 60%;
                display: flex;
                justify-content: end;
                grid-column-gap: 35px;
                align-items: center;
                @include md-screen{
                    justify-content: start;
                }
                @include xs-screen{
                    flex-wrap: wrap;
                }
                @include bgbutton;
                .button{
                    display: block;
                    @include md-screen{
                        margin-top: 50px;
                    }
                    @include sm-screen{
                        margin-top: 25px;
                    }
                    &:first-child{
                        @include xs-screen{
                            width: 100%;
                        }
                    }
                    .cmp-button{
                        padding: 8px 20px 10px 10px;
                        span{
                            @include lg-screen{
                                font-size: 12px;
                            }
                        }
                    }
                    &:hover{
                        a{
                            &::before{
                                background: transparent;
                                border-color: $yellow;
                            }
                            &::after{
                                background: transparent;
                                border-color: $yellow;
                            }
                        }
                    }
                }
            }
        }

    }
}
