.newsletter-bar{
    padding: 0 30px;
    background: linear-gradient(120deg, $yellow 47%, rgba(255, 207, 7, 0) 47%);
    @media (max-width: 1250px){ 
        background: linear-gradient(120deg, $yellow 43%, rgba(255, 207, 7, 0) 43%);
    }
    @media (max-width: 991px){ 
        background: linear-gradient(180deg, $yellow 53%, rgba(255, 207, 7, 0) 50%);
    }
    @media (max-width: 768px){ 
        background: linear-gradient(180deg, $yellow 45%, rgba(255, 207, 7, 0) 45%);
    }
    @media (max-width: 475px){ 
        background: linear-gradient(180deg, $yellow 50%, rgba(255, 207, 7, 0) 45%);
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 45px 0;
        @media (max-width: 991px){ 
            justify-content: center;
            padding: 45px 0 70px;
        }
        .title{
            width: 40%;
            color: #383F43;
            @media (max-width: 991px){ 
                width: 100%;
                padding-bottom: 60px;
            }
            h3{
                @media (max-width: 1250px){ 
                    font-size: 32px;
                    line-height: 40px;
                }
                @media (max-width: 991px){ 
                    font-size: 40px;
                    line-height: 47px;
                }
                @media (max-width: 768px){ 
                    font-size: 32px;
                    line-height: 40px;
                }
            }
        }
        .btn-wrap{
            width: 60%;
            display: flex;
            justify-content: end;
            grid-column-gap: 35px;
            align-items: center;
            @media (max-width: 991px){ 
                justify-content: start;
                width: 100%;
            }
            @media (max-width: 768px){ 
                flex-wrap: wrap;
            }
            @include bgbutton;
            .button{
                display: block;
                @media (max-width: 991px){ 
                    margin-top: 50px;
                }
                @media (max-width: 768px){ 
                    margin-top: 25px;
                }
                &:first-child{
                    @media (max-width: 768px){ 
                        width: 100%;
                    }
                }
                .btn-link{
                    padding: 8px 20px 10px 10px;
                    span{
                        @media (max-width: 1250px){ 
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}