.newsletter{
    background: linear-gradient(120deg, #FFCF07 47%, rgb(255, 255, 255) 47%);
    padding: 0 30px;
    @media(max-width:1250px){
        background: linear-gradient(120deg, #FFCF07 43%, rgb(255, 255, 255) 43%);
    }
    @media(max-width:991px){
        background: linear-gradient(180deg, #FFCF07 53%, rgb(255, 255, 255) 50%);
    }
    .cmp-container{
        .aem-Grid{
            max-width: 1200px;
            margin: 0 auto;
            padding: 45px 0;
            display: flex;
            .newsletter-flex{
                #newsletter-flex_cmp{
                    display: flex;
                    align-items: center;
                    @media(max-width:991px){
                        flex-direction: column;
                    }
                    .newsletter-heading-text{
                        width: 40%;
                        @media(max-width:991px){
                            width: 100%;
                            padding-bottom: 60px;
                        }
                        #newsletter-heading-text_cmp{
                            .cmp-title__text{
                                font-size: 40px;
                                line-height: 47px;
                                color: $gray;
                                @media(max-width:1250px){
                                    font-size: 32px;
                                    line-height: 40px;
                                }
                            }
                        }
                    }
                    .button-wrap{
                        width: 60%;
                        @media(max-width:991px){
                            width: 100%;
                        }
                        #button-wrap_cmp{
                            display: flex;
                            justify-content: flex-end;
                            flex-wrap: wrap;
                            grid-gap: 35px;
                            @include bgbutton;
                            @media(max-width:991px){
                                justify-content: flex-start;
                                margin-top: 50px;
                            }
                            @media(max-width:1250px){
                                .button{
                                    a{
                                        span{
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}