.resource{
    .slider{
        & > div:first-child{
            padding: 0 0 50px;
            .slider-grid{
                padding: 0;
            }
        }
    }

}

.featured-products{
    background-color: transparent;
    padding-left: 100px;
    margin-top: 50px;
    padding-bottom: 100px;
    position: relative;
    @include xs-screen{
        padding: 0 30px 100px;
    }
    @include lg-screen{
        padding-left: 30px;
    }
    &.slider{
        background-color: $gray;
        margin: 0px;
        padding-top: 100px;
        .product-title{
            .cmp-container{
                display: flex;
                justify-content: space-between;
                margin-bottom: 28px;
                .btn-link{
                    margin-right: 250px;
                    @include lg-screen{
                        margin-right: 200px;
                    }
                    @include md-screen{
                        margin-right: 160px;
                    }
                    @include sm-screen{
                        margin-right: 30px;
                    }
                    @include xs-screen{
                        display: none;
                    }
                }
                @include bgbutton;
            }
        }
        .product-slider-wrap{
            .product-item{
                .post-product__image{
                    img{
                        height: 220px;
                        width: 150px;
                        object-fit: cover;
                        @include xl-screen{
                            height: 200px;
                            width: 130px;
                        }
                        @include md-screen{
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .product-title{
        color: #FFFFFF;
        margin-bottom: 20px;
        h5{
            font-size: 30px;
        }
    }
    .draggable{
        padding: 25px 50px !important;
    }
    .slick-arrow{
        opacity: 0.5;
        transition: all 0.3s ease;
        &:hover{
            opacity: 1;
        }
        &::before{
            display: none;
        }
        &.slick-prev{
            position: absolute;
            right: 200px;
            top: -55px;
            left: unset;
            @include lg-screen{
                right: 130px;
            }
            @include md-screen{
                right: 80px;
            }
        }
        &.slick-next{
            position: absolute;
            right: 150px;
            top: -55px;
            left: unset;
            @include lg-screen{
                right: 80px;
            }
            @include md-screen{
                right: 30px;
            }
        }
    }
    .slick-dots{
        @include md-screen{
            bottom: -45px;
        }
        li{
            button{
                &:before{
                    font-size: 12px;
                    color: #9C9FA1;
                }
            }
        }
    }
    .slick-list{
        padding: 25px 0px 25px 115px !important;
        @include xs-screen{
            padding: 0px !important;
        }
        .slick-track{
            display: flex;
            grid-gap: 30px;
            margin-left: -130px;
            @include sm-screen{
                grid-gap: 0px;
                margin-left: -110px;
            }
            @include xs-screen{
                margin: 0px;
            }
        }
    }
    .product-slider-wrap{
        .product-item{
            //width: 33.3% !important;
            display: flex;
            color: white;
            grid-gap: 35px;
            flex-wrap: wrap;
            .cmp-teaser{
                display: flex;
                justify-content: space-between;
                @include bgbutton;
                .cmp-teaser__content{
                    h5{
                        color: #FFFFFF;
                        & > a{
                            color: #FFFFFF;
                        }
                        @include xl-screen{
                            font-size: 18px;
                            line-height: 23px;
                        }
                        @include sm-screen{
                            font-size: 23px;
                        }
                        @include xs-screen{
                            font-size: 18px;
                            line-height: 23px;
                        }
                    }
                    .cmp-teaser__description{
                        @include xs-screen{
                            font-size: 14px;
                        }
                    }
                    @include bgbutton;
                }
            }
            .post-product__image{
                width: 35%;
                @include xl-screen{
                    width: 32%;
                }
                @include sm-screen{
                    width: 40%;
                }
                img{
                    width: 100%;
                    display: flex;
                    box-shadow: 10px 8px 10px black;
                    height: 100%;
                }
            }
            .cmp-teaser__content{
                width: 55%;
            }
            .content-text{
                width: 55%;
                .cmp-container{
                    height: 100%;
                    .aem-Grid{
                        height: 100%;
                        .container{
                            height: 100%;
                            .cmp-container{
                                height: 100%;
                                .product-content{
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}