.video{
    background-color: $gray;
    padding: 0 30px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include md-screen{
            grid-gap: 50px;
        }
        .video-wrap{
            width: 50%;
            @include md-screen{
                width: 100%;
            }
            iframe{
                width: 100%;
                height: 350px;
                @include md-screen{
                    height: 500px;
                }
                @include xs-screen{
                    height: 300px;
                }
            }
        }
        .content-wrap{
            width: 45%;
            color: white;
            @include md-screen{
                width: 100%;
            }
            .sub-title{
                margin-bottom: 20px;
                h6{
                    letter-spacing: 0.07em;
                    text-transform: uppercase;
                    color: $yellow;
                }
            }
            .title{
                margin-bottom: 30px;
                h3{
                    @include md-screen{
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
            }
            .text{
                padding-right: 50px;
                margin-bottom: 20px;
                @include md-screen{ 
                    padding-right: 0px;                   
                }
            }
            .button-wrap{
                display: flex;
                margin-top: 30px;
                grid-column-gap: 40px;
                @include sm-screen{
                    grid-column-gap: 25px;
                }
                .button{
                    .btn-link{
                        @include sm-screen{
                            padding: 8px 20px 10px 10px;
                        }
                        
                    }
                }
                @include bgbutton;
            }
        }
    }
}